<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calculator">

    <div class="inputBtn">
      <ion-card id="back" class="ion-padding">
        <ion-card-content>
            
      <ion-input class="result" [(ngModel)]="result"></ion-input>
   <label>-----------------------------------------------------</label>
      <ion-input class="history" [(ngModel)]="fieldText"></ion-input>
    </ion-card-content>
  </ion-card>
    </div>

    <div class="container">
      <div class="numbers">
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(1)">1</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(2)">2</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(3)">3</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(4)">4</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(5)">5</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(6)">6</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(7)">7</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(8)">8</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(9)">9</ion-button>
        <ion-button shape="round" color="warning" (click)="clearBtn()">C</ion-button>
        <ion-button shape="round" color="dark" class="item1" (click)="clickBtn(0)">0</ion-button>
        <ion-button shape="round" color="warning" class="item1" (click)="equalBtn()">=</ion-button>
      </div>


      <div class="operation">
        <ion-button shape="round" color="warning" class="item1" (click)="operation('/')">/</ion-button>
        <ion-button shape="round" color="warning" class="item1" (click)="operation('*')">x</ion-button>
        <ion-button shape="round" color="warning" class="item1" (click)="operation('-')">-</ion-button>
        <ion-button shape="round" color="warning" class="item1" (click)="operation('+')">+</ion-button>
      </div>

    </div>
  </div>
</ion-content>

