<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    

    <div class="Login">
        <h1>LOGIN</h1>
        <input type="text" [(ngModel)]="username" placeholder="username"><br>
        <input type="password" [(ngModel)]="password" placeholder="password"><br> 
        <button (click)="proceedLogin()">Login</button>


        <p>email: walts</p>
        <p>pass: mallows</p>
        <p>email: admin</p>
        <p>pass: 123456</p>
    </div>
    
   
</ion-content>